@model List<UserNotifications>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Artist/Views/ArtistLayout/Index.cshtml";
    int count = 0;
}

<h1>Bildirimlerim</h1>

<table class="table table-hover table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@(((DateTime)item.Date).ToString("f"))</td>
        </tr>
    }
</table>