@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Artist/Views/ArtistLayout/Index.cshtml";
}


<div style="justify-content:space-around; align-items:center; display:flex;">
    <h2>Tarkan Tevetoğlu</h2>
    <img src="https://img-s1.onedio.com/id-62fcfc725caec0f5571e2a2f/rev-0/w-1200/h-1200/f-jpg/s-0b7e28e300d49ce943285f67402cab081d677654.jpg" style="width:200px; height:200px; border-radius:50%" />
</div>

<br />
<br />

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Albüm Sayım</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">50</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Onay Bekleyen Albümlerim</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">3</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">En Pahalı Albümüm</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">Kuzu Kuzu</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Şarkılarım</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">535</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Email Adresim</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">test@gmail.com</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Telefon Numaram</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">555 555 555</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card overflow-hidden rounded-2">
            <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">İki Adımlı Doğrulama</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">Aktif</h6>
                </div>
            </div>
        </div>
    </div>
</div>


